[flake8]
max-line-length = 100
exclude =
    .venv
    **/migrations/**
ignore =
    W503,   # line break before binary operator
    W291,   # trailing whitespace
    F841,   # Local variable name is assigned to but never used
